/** BREADCRUMB **/
.breadcrumb {
    background: none;
    padding: 15px 0;
    margin-bottom: 0;
}
    .breadcrumb__link {
        font-size: 15px;
        color: #747474;
        font-family: "Impact", sans-serif;
        text-transform: uppercase;
        letter-spacing: .5px;
    }   
        .breadcrumb__link:hover,
        .breadcrumb__link:focus {
            text-decoration: none;
        }
/* Large devices (large desktops, 767px and down) */
@media (max-width: 767px) { 
    .breadcrumb {
        padding: 10px 2%;
    }
    .text p {
        padding: 10px;
    }
}
/** /BREADCRUMB **/

/** TITLE-NAME **/
.title__name {
    font-size: 20px;
    font-family: "Impact", sans-serif;
    color: #575757;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/** /TITLE-NAME **/