@media (min-width: 992px) {

    .form__right-btn_mob {
        display: none;
    }

}

    /* Large devices (large desktops, 1199px and down) */
@media (max-width: 1199px) {

    li.sidebar__item {
        padding: 6px 0px 6px 26px;
    }

    .products-top__title,
    .products-middle__title {
        font-size: 17px;
    }

}

/* Large devices (large desktops, 991px and down) */
@media (max-width: 991px) {

    .content-text__img {
        background: none;
    }

    li.sidebar__item {
        padding: 6px 10px 6px 20px;
    }

    .form-control {
        font-size: 10px;
    }

    .form__right-btn {
        display: none;
    }

    .form__right-btn_mob {
        display: block;
        margin-top: 7px;
    }

}

/* Large devices (large desktops, 767px and down) */
@media (max-width: 767px) {

    .main {
        margin-top: 20px;
    }

    .sidebar .sidebar__list {
        padding-bottom: 15px;
    }

    li.sidebar__item {
        width: 50%;
    }

    li.sidebar__item:nth-child(2n) {
        float: right;
        margin-top: -34px;
    }

    main.content {
        margin-top: 30px;    }


}

@media (min-width: 576px) and (max-width: 624px) {

}

/* Large devices (large desktops, 575px and down) */
@media (max-width: 575px) {
    .sidebar .sidebar__list {
        text-align: center;
    }

    li.sidebar__item {
        width: 100%;
    }

    li.sidebar__item:nth-child(2n) {
        float: none;
        margin-top: 0;
    }

    .input-group {
        display: block;
    }

    .form-control {
        font-size: 12px;
    }

    .content-question__btn {
        width: 100%;
        line-height: inherit;
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .form-control {
        font-size: 9px;
    }
    .content-question__btn {
        width: 100%;
        line-height: inherit;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 339px) {

    .form-control {
        font-size: 8px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 328px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px) {

    .form-control {
        font-size: 7px;
    }

}

@media only screen and (min-width : 283px) {

    .content__top-title {
        font-size: 23px;
    }

}

@media only screen and (min-width : 283px) {

    .content__top-title {
        font-size: 24px;
    }

}