/* Large devices (large desktops, 1199px and down) */
@media (max-width: 1199px) {

    li.sidebar__item {
        padding: 6px 0px 6px 26px;
    }

    .products-top__title,
    .products-middle__title {
        font-size: 17px;
    }

}

/* Large devices (large desktops, 991px and down) */
@media (max-width: 991px) {

    li.sidebar__item {
        padding: 6px 10px 6px 20px;
    }

    .products-top__card:nth-child(3),
    .products-top__card:nth-child(4),
    .products-middle__card:nth-child(3),
    .products-middle__card:nth-child(4){
        margin-top: 30px;
    }

    .form-control {
        font-size: 10px;
    }

}

/* Large devices (large desktops, 767px and down) */
@media (max-width: 767px) {
    .sidebar .sidebar__list {
        padding-bottom: 15px;
    }
    li.sidebar__item {
        width: 50%;
    }

    li.sidebar__item:nth-child(2n) {
        float: right;
        margin-top: -34px;
    }

    main.content {
        margin-top: 30px;
    }

    .products-top__card:nth-child(3),
    .products-top__card:nth-child(4),
    .products-middle__card:nth-child(3),
    .products-middle__card:nth-child(4){
        margin-top: 0;
    }

}

@media (min-width: 576px) and (max-width: 624px) {

    .products-top__title,
    .products-middle__title {
        font-size: 16px;
    }

}

/* Large devices (large desktops, 575px and down) */
@media (max-width: 575px) {
    .sidebar .sidebar__list {
        text-align: center;
    }
    
    li.sidebar__item {
        width: 100%;
    }

    li.sidebar__item:nth-child(2n) {
        float: none;
        margin-top: 0;
    }

    .input-group {
        display: block;
    }

    .form-control {
        font-size: 12px;
    }

    .content-question__btn {
        width: 100%;
        line-height: inherit;
    }

    .products-top__card,
    .products-middle__card{
        width: 50%;
    }

    .products-top__card:nth-child(3),
    .products-top__card:nth-child(4),
    .products-middle__card:nth-child(3),
    .products-middle__card:nth-child(4){
        margin-top: 30px;
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .form-control {
        font-size: 9px;
    }
    .content-question__btn {
        width: 100%;
        line-height: inherit;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 339px) {

    .form-control {
        font-size: 8px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 328px) {

    .products-top__title,
    .products-middle__title {
        font-size: 14px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px) {

    .form-control {
        font-size: 7px;
    }

}

@media only screen and (min-width : 283px) {

    .title__name {
        font-size: 23px;
    }

}

@media only screen and (min-width : 283px) {

    .title__name {
        font-size: 20px;
    }

}