.page_of_services__content .breadcrumb {
        padding: 15px 0;
        margin-bottom: 0;
}

.products-top__card:nth-child(3),
.products-top__card:nth-child(4),
.products-middle__card:nth-child(3),
.products-middle__card:nth-child(4){
    margin-top: 0px;
}
.page_of_services__content .products-top,
.page_of_services__content .products-middle {
    display: block;
}

.page_of_services__content {
    margin-bottom: 40px;
}