/** BASIC-STYLE **/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrap {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

body {
    font-size: 16px;
    line-height: 1.4;
    font-family: Tahoma, sans-serif;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
}

/** /BASIC-STYLE **/

.strips {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 13px, 13px 13px);
    clip-path: polygon(0 0, 100% 0, 100% 13px, 13px 13px);
    background-color: #333;
    width: 100%;
    height: 13px;
}

.my_btn {
    background-color: #333;
    font-family: impact, sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
}

/* CONTACT-INFO */
.contact-info {
    padding: 10px 0;
    font-family: Tahoma, sans-serif;
    font-size: 12px
}

.contact-info .logo {
}

.logo .logo__text {
    padding-left: 16%;
    padding-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.contact-info__block {
    margin-top: 20px;
}

.contact-info__block .link {
    color: #000;
    text-decoration: underline;
}

.contact-info__block .link:hover {
    color: #000;
    text-decoration: none;
}

.contact-info__block .pic {
    max-width: 20%;
    height: 30px;
    display: block;
    float: left;
}

.contact-info__block .text {
    padding-left: 10px;
    width: 80%;
    float: left;
}

.contact-info__block .geolocation__text {
    font-size: 10px;
}

/* /CONTACT-INFO */

/*  NAVBAR  */
.navbar {
    background-color: #373737;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-header .icon-bar {
    background-color: #fff;
    width: 35px;
    height: 4px;
}

.nav {
    width: 100%;
    display: box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: -webkit-box;

    box-orient: horizontal;
    o-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -webkit-box-orient: horizontal;
}

.nav li {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    text-align: center;
}

.nav li:first-child a {
    padding-left: 0;
    text-align: left;
}

.nav li:last-child {
    padding-right: 0;
    text-align: right;
}

.glyphicon-search {
    font-weight: 600;
}

.navbar-collapse.collapse {
    padding: 0;
}

.navbar a {
    color: #fff;
    font-family: impact, sans-serif;
    font-size: 18px;
}

.navbar li a:hover {
    color: #f3d03a;
    background-color: #373737;
    font-family: impact, sans-serif;
    font-size: 18px;
}

/**  /NAVBAR  **/

/**  WRAP-CONTENT  **/
.wrap-content {
    margin-top: 62px;
}

/** SIDEBAR **/
.aside__trapezoid-top {
    border-bottom: 9px solid #333333;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.aside__trapezoid-bottom {
    border-top: 9px solid #333333;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

ul.sidebar__list {
    background-color: #f7f7f7;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 38px;
}

li.sidebar__item {
    padding: 8px 0px 8px 26px;
}

a.sidebar__link {
    color: #575757;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Impact, sans-serif;
    letter-spacing: .5px;
}

a.sidebar__link:hover {
    color: #efc838;
    text-decoration: none;
}
/** /SIDEBAR **/

/** MAIN **/
.breadcrumb {
    background: none;
    padding: 0;
}

.breadcrumb__link {
    font-size: 15px;
    color: #747474;
    font-family: "Impact", sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.breadcrumb__link:hover,
.breadcrumb__link:focus {
    text-decoration: none;
    color: #747474;
}

.breadcrumb>li+li:before {
    color: #747474;
    font-family: "Impact", sans-serif;
}

.content__top-title {
    font-size: 27px;
    font-family: "Impact", sans-serif;
    color: #575757;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content__order {
    margin-bottom: 25px;
}

.content__top-text,
.content__order-text {
    font-size: 13px;
}

.content__order-title,
.content__advantages-title {
    font-size: 20px;
    font-family: "Impact", sans-serif;
    color: #575757;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content__order-span {
    font-weight: 600;
}

.form__right,
.form__left {
    padding-left: 0;
}

.form-block {
    margin-bottom: 7px;
}

.form__right-input {
    border-radius: 0;
    height: 28px;
}

.form__right-btn {
    padding: 6px 24px;
    border-radius: 8px;
    background-color: #333333;
    color: #fff;
    text-transform: uppercase;
    font-family: "Impact", sans-serif;
    letter-spacing: .5px;
    outline: none;
}

.form__right-btn:hover,
.form__right-btn:active,
.form__right-btn:active:hover,
.form__right-btn:active:focus,
.form__right-btn:focus {
    background-color: #efc838;
    border-color: transparent;
    outline: none;
}

textarea.form-control.form__left-text {
    text-transform: uppercase;
    border-radius: 0;
    height: 98px;
}

.form__right-input::-webkit-input-placeholder { /* WebKit browsers */
    font-family: "Impact", sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
}

.form__right-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: "Impact", sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
}

.form__right-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: "Impact", sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
}

.form__right-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: "Impact", sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
}

textarea::-webkit-input-placeholder {
    font-family: "Impact", sans-serif;
    font-size: 13px;
    letter-spacing: .5px;
    padding-top: 35px;
    text-align: center;
}

textarea:-moz-input-placeholder {
    font-family: "Impact", sans-serif;
    font-size: 13px;
    letter-spacing: .5px;
    padding-top: 40px;
    text-align: center;
}

textarea::-moz-input-placeholder {
    font-family: "Impact", sans-serif;
    font-size: 13px;
    letter-spacing: .5px;
    padding-top: 40px;
    text-align: center;
}

textarea:-ms-input-placeholder {
    font-family: "Impact", sans-serif;
    font-size: 13px;
    letter-spacing: .5px;
    padding-top: 40px;
    text-align: center;
}

ul.content__advantages-list {
    padding-left: 15px;
}

li.content__advantages-item {
    font-size: 13px;
    font-family: "Arial", sans-serif;
    color: #f3d03a;
    list-style-type: square;
}

.content__advantages-span {
    color: #333;
}

.content-text__img {
    background: url(../img/content-text__img-bg.jpg);
    margin: 20px 0;
    background-position: center;
}

.content-text__img-block {
    padding: 10px 6px;
    text-align: center;
}

/* CONTENT__TEXT */

.content-text {
    margin-left: 15px;
    margin-right: 15px;
}

.content-text__p {
    font-size: 12px;
    color: #303030;
}

.content-text__p:last-child {
    margin-bottom: 27px;
}

/* /CONTENT__TEXT */

/* CONTENT__QUESTION */

.content-question {
    margin-bottom: 46px;
}

.content-question__input {
    height: 42px;
    border: none;
    border-radius: 0;
    background-color: #6a6a6a;
    color: #fff;
}

.content-question__input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.content-question__input::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
    font-family: "Impact", sans-serif;
    letter-spacing: .2px;
}

.content-question__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    font-family: "Impact", sans-serif;
    letter-spacing: .2px;
}

.content-question__input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    font-family: "Impact", sans-serif;
    letter-spacing: .2px;
}

.content-question__input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
    font-family: "Impact", sans-serif;
    letter-spacing: .2px;
}

.input-group {
    display: flex;
}

.content-question__btn {
    font-size: 14px;
    width: inherit;
    border: none;
    border-radius: 0;
    background-color: #f3d03a;
    color: #575757;
    text-transform: uppercase;
    font-family: "Impact", sans-serif;
    outline: none;
    padding: 6px 45px;
}

/* /CONTENT__QUESTION */

/** /MAIN **/
/**  /WRAP-CONTENT  **/
